In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlalchemy as sa
import pandas as pd
import pymysql

In [29]:
eng_str = fr'mysql+pymysql://_dataminer:pass@ccte-mysql-res.epa.gov:3306/res_toxval_v95'

In [30]:
engine = sa.create_engine(eng_str)

In [4]:
insp = sa.inspect(engine)
db_list = insp.get_schema_names()

In [5]:
#db_list

In [6]:
#engine.table_names()

In [26]:
df1 = pd.read_sql('''select a.dtxsid, b.source,b.subsource,b.qc_status,\
                    b.human_eco, b.toxval_type, b.toxval_subtype,\
                    e.toxval_type_supercategory, b.toxval_numeric_qualifier,b.toxval_numeric, b.toxval_units,\
                    b.mw,b.toxval_numeric_original,b.toxval_units_original,
                    b.risk_assessment_class, b.study_type,
                    b.study_type_original,
                    b.study_duration_value,
                    b.study_duration_units,
                    b.study_duration_class,
                    d.species_id,d.common_name,d.latin_name,d.ecotox_group,
                    b.strain,
                    b.strain_group,
                    b.sex,
                    b.generation,
                    b.exposure_route,
                    b.exposure_method,
                    b.critical_effect,
                    b.critical_effect_original,
                    b.year,
                    f.long_ref,
                    f.title,
                    f.author,
                    f.journal,
                    f.volume,
                    f.year as ref_year,
                    f.issue,
                    f.url,
                    b.study_group,
                    b.source_hash,
                    a.cleaned_casrn,a.cleaned_name

from toxval \

as b inner join source_chemical a on a.chemical_id = b.chemical_id left join species d on b.species_id = d.species_id inner join toxval_type_dictionary e on b.toxval_type =e.toxval_type inner join record_source f on b.toxval_id = f.toxval_id where human_eco = 'human health' and toxval_type_supercategory in ('Point of Departure', 'Lethality Effect Level', 'Toxicity Value') ''', engine)

In [27]:
df1.shape

(244539, 45)

In [31]:
oral = pd.read_sql('''select a.dtxsid, b.source,b.subsource,b.qc_status,\
                    b.human_eco, b.toxval_type, b.toxval_subtype,\
                    e.toxval_type_supercategory, b.toxval_numeric_qualifier,b.toxval_numeric, b.toxval_units,\
                    b.mw,b.toxval_numeric_original,b.toxval_units_original,
                    b.risk_assessment_class, b.study_type,
                    b.study_type_original,
                    b.study_duration_value,
                    b.study_duration_units,
                    b.study_duration_class,
                    d.species_id,d.common_name,d.latin_name,d.ecotox_group,
                    b.strain,
                    b.strain_group,
                    b.sex,
                    b.generation,
                    b.exposure_route,
                    b.exposure_method,
                    b.critical_effect,
                    b.critical_effect_original,
                    b.year,
                    f.long_ref,
                    f.title,
                    f.author,
                    f.journal,
                    f.volume,
                    f.year as ref_year,
                    f.issue,
                    f.url,
                    b.study_group,
                    b.source_hash,
                    a.cleaned_casrn,a.cleaned_name

from toxval \

as b inner join source_chemical a on a.chemical_id = b.chemical_id left join species d on b.species_id = d.species_id inner join toxval_type_dictionary e on b.toxval_type =e.toxval_type inner join record_source f on b.toxval_id = f.toxval_id where human_eco = 'human health' and exposure_route = 'oral' and toxval_type_supercategory in ('Point of Departure', 'Lethality Effect Level', 'Toxicity Value') ''', engine)

In [33]:
inh = pd.read_sql('''select a.dtxsid, b.source,b.subsource,b.qc_status,\
                    b.human_eco, b.toxval_type, b.toxval_subtype,\
                    e.toxval_type_supercategory, b.toxval_numeric_qualifier,b.toxval_numeric, b.toxval_units,\
                    b.mw,b.toxval_numeric_original,b.toxval_units_original,
                    b.risk_assessment_class, b.study_type,
                    b.study_type_original,
                    b.study_duration_value,
                    b.study_duration_units,
                    b.study_duration_class,
                    d.species_id,d.common_name,d.latin_name,d.ecotox_group,
                    b.strain,
                    b.strain_group,
                    b.sex,
                    b.generation,
                    b.exposure_route,
                    b.exposure_method,
                    b.critical_effect,
                    b.critical_effect_original,
                    b.year,
                    f.long_ref,
                    f.title,
                    f.author,
                    f.journal,
                    f.volume,
                    f.year as ref_year,
                    f.issue,
                    f.url,
                    b.study_group,
                    b.source_hash,
                    a.cleaned_casrn,a.cleaned_name

from toxval \

as b inner join source_chemical a on a.chemical_id = b.chemical_id left join species d on b.species_id = d.species_id inner join toxval_type_dictionary e on b.toxval_type =e.toxval_type inner join record_source f on b.toxval_id = f.toxval_id where human_eco = 'human health' and exposure_route = 'inhalation' and toxval_type_supercategory in ('Point of Departure', 'Lethality Effect Level', 'Toxicity Value') ''', engine)

In [34]:
inh.shape

(32267, 45)

In [36]:
import os

In [37]:
TOP = os.getcwd().replace('notebooks', '')
interim_dir = TOP + 'data/interim/'

In [38]:
df1.to_csv(interim_dir+'toxval95_all.csv')

In [39]:
oral.to_csv(interim_dir+'oraltoxval95.csv')
inh.to_csv(interim_dir+'inhtoxval95.csv')

In [7]:
pd.read_sql('''select * from toxval limit 10''', engine).columns

Index(['toxval_id', 'source_hash', 'source_table', 'chemical_id', 'dtxsid',
       'source', 'subsource', 'source_url', 'subsource_url', 'details_text',
       'priority_id', 'qc_status', 'qc_category', 'risk_assessment_class',
       'human_eco', 'experimental_record', 'toxval_type',
       'toxval_type_original', 'toxval_subtype', 'toxval_subtype_original',
       'toxval_numeric', 'toxval_numeric_original', 'toxval_numeric_converted',
       'toxval_numeric_standard', 'toxval_numeric_human', 'toxval_units',
       'toxval_units_original', 'toxval_units_converted',
       'toxval_units_standard', 'toxval_units_human',
       'toxval_numeric_qualifier', 'toxval_numeric_qualifier_original',
       'study_type', 'study_type_original', 'study_duration_class',
       'study_duration_class_original', 'study_duration_value',
       'study_duration_value_original', 'study_duration_units',
       'study_duration_units_original', 'species_id', 'species_original',
       'strain', 'strain_original', 'strain_group', 'habitat', 'sex',
       'sex_original', 'critical_effect', 'critical_effect_original',
       'population', 'population_original', 'exposure_route',
       'exposure_route_original', 'exposure_method',
       'exposure_method_original', 'exposure_form', 'exposure_form_original',
       'media', 'media_original', 'lifestage', 'lifestage_original',
       'generation', 'generation_original', 'year', 'year_original', 'mw',
       'datestamp', 'source_source_id', 'toxval_uuid', 'toxval_hash',
       'target_species', 'study_group', 'human_ra', 'visible'],
      dtype='object')

In [25]:
pod_types = pd.read_sql('''select distinct(toxval_type) from toxval''',engine)['toxval_type'].tolist()

In [35]:
pods = [ e for e in pod_types if e in ['LOAEL', 'NOAEL', 'LOEL', 'NEL', 'LEL', 'NOEL', 'BMDL','BMDL (0.5 SD)',
 'BMDL (0.5)',
 'BMDL (01 99 HEC)',
 'BMDL (01 99 HED)',
 'BMDL (01)',
 'BMDL (05 HED)',
 'BMDL (05)',
 'BMDL (1 SD)',
 'BMDL (10 ADJ)',
 'BMDL (10 HEC)',
 'BMDL (10 HED)',
 'BMDL (10)',
 'BMDL (1SD HEC)',
 'BMDL (1SD HED)',
 'BMDL (1SD)',
 'BMDL (2 SD)',
 'BMDL (20 RD)',
 'BMDL (20)',
 'BMDL (2x ADJ)',
 'BMDL (2X)',
 'BMDL (5 RD)',
 'BMDL (50)',
 'BMDL (5RD HED)',
 'BMDL (ADD)',
 'BMDL (ADJ)',
 'BMDL (HEC)',
 'BMDL (HED)', 'MLD']]

In [40]:
exposures = pd.read_sql('''select distinct(exposure_route) from toxval''',engine)['exposure_route'].tolist()

In [42]:
#exposures

In [52]:
pd.read_sql('''SELECT toxval_units, COUNT(*) AS value_count FROM toxval GROUP BY toxval_units ''',engine).sort_values(by='value_count')

           toxval_units  value_count
998  weight % (in diet)            1
802              qt/gal            1
933            ul/100 g            1
112             g/10 ft            1
113         g/10 g diet            1
..                  ...          ...
483               mg/m3        39455
306               kg/ha        40482
453               mg/kg        89640
466           mg/kg-day       143596
473                mg/L       472712

[999 rows x 2 columns]

In [56]:
pd.read_sql('''select distinct(human_eco) from toxval''',engine)

        human_eco
0    human health
1             eco
2  microorganisms
3   not specified

In [59]:
df = pd.read_sql('''select * from toxval where human_eco = 'human health' and  toxval_units = 'mg/kg-day' and exposure_route = 'oral' and toxval_type in ('LOAEL', 'NOAEL', 'LOEL', 'NEL', 'LEL', 'NOEL', 'BMDL','BMDL (0.5 SD)',
 'BMDL (0.5)',
 'BMDL (01 99 HEC)',
 'BMDL (01 99 HED)',
 'BMDL (01)',
 'BMDL (05 HED)',
 'BMDL (05)',
 'BMDL (1 SD)',
 'BMDL (10 ADJ)',
 'BMDL (10 HEC)',
 'BMDL (10 HED)',
 'BMDL (10)',
 'BMDL (1SD HEC)',
 'BMDL (1SD HED)',
 'BMDL (1SD)',
 'BMDL (2 SD)',
 'BMDL (20 RD)',
 'BMDL (20)',
 'BMDL (2x ADJ)',
 'BMDL (2X)',
 'BMDL (5 RD)',
 'BMDL (50)',
 'BMDL (5RD HED)',
 'BMDL (ADD)',
 'BMDL (ADJ)',
 'BMDL (HEC)',
 'BMDL (HED)', 'MLD') ''', engine)

In [60]:
df.shape

(102308, 75)

In [66]:
df['species_original'].value_counts()

rat                       57372
mouse                     10268
norway rat                10180
dog                        9224
rabbit                     5012
                          ...
indian gerbil                 1
house shrew                   1
macaque                       1
northern palm squirrel        1
mouse/vole/rat family         1
Name: species_original, Length: 92, dtype: int64

In [67]:
df['species_id'].value_counts()

4510       67553
4913       14265
7630        9226
22808       5153
2000004     1868
           ...
3000050        1
39087          1
5557           1
4467           1
5992           1
Name: species_id, Length: 77, dtype: int64

In [69]:
df.study_type.unique()

array(['reproduction developmental', 'subchronic', 'reproduction',
       'short-term', 'chronic', '28-day', 'uterotrophic', 'acute',
       'Hershberger', 'intermediate', 'developmental',
       'toxicity test, other', 'repeat dose other',
       'endocrine disrupter mammalian screening - in vivo',
       'immunotoxicity', 'neurotoxicity', 'human', 'epidemiologic',
       'clinical', 'occupational', 'special', '-'], dtype=object)